1. 1. *Print First and Last Characters:*
   - Declare a string and print the first character.

In [1]:
a = 'AmitAhirwar'
a[0]

'A'

 - Print the last character of the string.

In [2]:
a = 'AmitAhirwar'
a[-1]

'r'

2. *Extract Substring:*
   - Declare a string and extract a substring containing the first three characters.

In [3]:
a = 'AmitIsStudent'
a[0:3]

'Ami'

- Extract a substring that starts from the third character to the end of the string.

In [5]:
a = 'AmitIsStudent'
a[2:]

'itIsStudent'

3. *Print Even and Odd Positions:*
   - Declare a string and print characters at even positions (0-based index).

In [7]:
a = 'AmitIsStudent'
a[0::2]

'AiISuet'

- Print characters at odd positions of the string.

In [11]:
a = 'AmitIsStudent'
a[1::2]

'mtstdn'

4. *Reverse a String:*
   - Declare a string and print it in reverse order.

In [15]:
a = 'AmitIsGoodStudent'
a[::-1]

'tnedutSdooGsItimA'

5. *Slice with Stride:*
   - Declare a string and print every second character using slicing.

In [16]:
a = 'AmitIsGoodStudent'
a[1:17:2]

'mtsodtdn'

6. *Negative Indexing:*
   - Declare a string and use negative indexing to print the last three characters.

In [21]:
a = 'AmitIsGoodStudent'
a[-3:]

'ent'

7. *Substring Replacement:*
   - Declare a string and replace a specific substring with another.

In [22]:
a = 'Ayush is a big brother in his entire family'
a.replace("Ayush", "Amit")

'Amit is a big brother in his entire family'

8. *Slice from the End:*
   - Declare a string and extract the last four characters using slicing.

In [23]:
a = 'AmitIsGoodStudent'
a[-4:]

'dent'

9. *Omitting Start or End Index:*
   - Declare a string and print the first three characters without specifying the start index.

In [25]:
a = 'AmitIsGoodStudent'
a[:3]

'Ami'

 - Print the last four characters without specifying the end index.

In [26]:
a = 'AmitIsGoodStudent'
a[-4:]

'dent'

10. *Slice with Variables:*
    - Declare a string and use variables to dynamically define start and end indices for slicing.

In [34]:
x = "Amit is leaving in nagpur from the last 20 years"
a = 8
b = 49
result = x[a:b]
result

'leaving in nagpur from the last 20 years'

11. *Empty String Slicing:*
    - Declare an empty string and attempt to perform string slicing. Observe the result.

In [35]:
a = "    "
a[2]

' '

# **Here are some basic questions related to string functions in Python:**

1. *String Length:*
   - Declare a string and find its length using the len() function.

In [38]:
a = "Amit was a science student but he like to do art work"
len(a)

53

2. *Uppercase and Lowercase:*
   - Declare a string and convert it to uppercase.

In [40]:
a = "Amit was a science student but he like to do art work"
a.upper()

'AMIT WAS A SCIENCE STUDENT BUT HE LIKE TO DO ART WORK'

- Convert the same string to lowercase.

In [41]:
a = "Amit was a science student but he like to do art work"
a.lower()

'amit was a science student but he like to do art work'

3. *Count Occurrences:*
   - Declare a string and count the number of occurrences of a specific character.

In [47]:
a = "Amit was a science student but he like to do art work"
a.count("a")

3

4. *String Concatenation:*
   - Declare two strings and concatenate them into a single string.

In [51]:
a = "Amit was a science student but he like to do art work."
b = 'Amit is a big brother in his entire family'
c = a + " " + b 
c

'Amit was a science student but he like to do art work. Amit is a big brother in his entire family'

5. *String Repetition:*
   - Declare a string and repeat it three times.

In [55]:
a = "Amit was a science student but he like to do art work.\\"
b = a * 3
b

'Amit was a science student but he like to do art work.\\Amit was a science student but he like to do art work.\\Amit was a science student but he like to do art work.\\'

6. *Find Substring:*
   - Declare a string and find the index of a specific substring.

In [57]:
a = "Amit was a science student but he like to do art work.\\"
a.find("like")

34

7. *Replace Substring:*
   - Declare a string and replace a specific substring with another.

In [58]:
a = "Amit was a science student but he like to do art work."
a.replace("was", "is")

'Amit is a science student but he like to do art work.\\'

8. *String Stripping:*
   - Declare a string with leading and trailing whitespaces, and remove them using the strip() function.

In [60]:
a = "    Amit was a science student but he like to do art work.  "
a.strip()

'Amit was a science student but he like to do art work.'

9. *String Splitting:*
   - Declare a string representing a sentence and split it into a list of words using the split() function.

In [69]:
a = "Amit was a science student"
a.split()

['Amit', 'was', 'a', 'science', 'student']

10. *Joining Strings:*
    - Declare a list of words and join them into a sentence using the join() function.

In [77]:
a = ['Amit', 'was', 'a', 'science', 'student']
sentence = " ".join(a)
sentence

'Amit was a science student'

11. *Checking Start and End:*
    - Declare a string and check if it starts with a specific prefix.

In [78]:
my_string = "Hello, World!"

# Check if the string starts with a specific prefix
prefix = "Hello"
if my_string.startswith(prefix):
    print(f'The string starts with "{prefix}"')
else:
    print(f'The string does not start with "{prefix}"')

The string starts with "Hello"

  - Check if the same string ends with a specific suffix.

In [84]:
my_string = "Hello, World!"

# Check if the string ends with a specific suffix
suffix = "World!"
if my_string.endswith(suffix):
    print(f'The string ends with "{suffix}"')
else:
    print(f'The string does not end with "{suffix}"')

The string ends with "World!"

12. *Character Isolation:*
    - Declare a string and use indexing to isolate and print the third character.

In [89]:
a = "Amit was a science student"
b = a[2]
print('The third charecter is:', b)

The third charecter is: i

13. *String Formatting:*
    - Declare variables for a person's name and age, and use string formatting to create a sentence.

In [93]:
a = 'Amit'
b = 23
print(f"{a}, is {b} years old" )

Amit, is 23 years old

**These questions cover various string functions in Python and will help you become familiar with manipulating strings using built-in functions.**

------------------------------------------------------------------- Thank You -----------------------------------------------------------------------------------